{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="atios-example--section section-{{ section.id }}-padding">

</div>

{% schema %}
{
  "name": "A Example",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "html",
      "id": "svg",
      "label": "SVG code"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
    "type": "range",
    "id": "margin_bottom",
    "min": -100,
    "max": 100,
    "step": 2,
    "unit": "px",
    "label": "Margin Bottom",
    "default": 0
    }
  ],
  "presets": [
    {
      "name": "A Example"
    }
  ]
}
{% endschema %}
